@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

.fadeIn {
	animation: fadeIn 0.3s ease-in-out both;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(32, 46, 69);
}

* {
	font-family: 'Roboto', sans-serif;
}